<div class="relative h-full w-full flex flex-column align-items-center justify-content-center  justify-content-between">
  <div></div>
  <p-selectButton
    [options]="stateOptions"
    [(ngModel)]="currentGender"
    optionLabel="label"
    optionValue="value"
  ></p-selectButton>
  <div class="absolut bottom-0 flex justify-content-between w-full">
    <p-button icon="pi pi-angle-left" routerLink="/welcom" [rounded]="true" [text]="true" />
    <p-button icon="pi pi-angle-right" (click)="onNext()" [rounded]="true" [text]="true" />
  </div>
</div>


