<div class="h-full  flex justify-content-center align-items-center">
	<div
		class="flex w-20rem flex-column justify-content-center align-items-center cursor-pointer border-300 surface-overlay border-2 border-round font-bold p-5 hover:shadow-8 scalein animation-duration-500 animation-iteration-1"
	>
		<p-selectButton
			[options]="stateOptions"
			[(ngModel)]="currentGender"
			optionLabel="label"
			optionValue="value"
		></p-selectButton>

		<div class="flex justify-content-between w-full mt-6">
			<p-button label="Назад" routerLink="/welcom" [outlined]="true"></p-button>
			<p-button label="Далее" (click)="onNext()" [outlined]="true"> </p-button>
		</div>
	</div>

</div>
