<div class="relative h-full w-full flex flex-column align-items-center justify-content-center  justify-content-between">
  <div></div>
  @if(form) {
    <div class="flex flex-column gap-5" [formGroup]="form">
      <p-floatLabel class="w-full">
        <input class="w-full" id="firstSName" type="text" pInputText formControlName="firstName" />
        <label for="firstSName">Фамилия малыша</label>
      </p-floatLabel>
      <p-floatLabel class="w-full">
        <input class="w-full" id="thirdName" type="text" pInputText formControlName="thirdName" />
        <label for="thirdName">Его будущее отчество</label>
      </p-floatLabel>
      @if(currentGender === gender.Boy) {
          <div class="w-full flex gap-2">
            <p-floatLabel class="w-full">
              <input class="w-full" id="sonsName" type="text" pInputText formControlName="sonsName" />
              <label for="sonsName">Любое полное мужское имя</label>
            </p-floatLabel>
            <p-button
              icon="pi pi-sync"
              (click)="onSetRandomBoyName()"
              [outlined]="true"
            ></p-button>
          </div>
          <div class="w-full flex gap-2">
            <p-floatLabel class="w-full ">
              <input class="w-full" id="daughtersName" type="text" pInputText formControlName="daughtersName" />
              <label for="daughtersName">Любое полное женское имя</label>
            </p-floatLabel>
            <p-button
              icon="pi pi-sync"
              (click)="onSetRandomGirleName()"
              [outlined]="true"
            ></p-button>
          </div>
      }
    </div>
  }

  <div class="absolut bottom-0 flex justify-content-between w-full">
    <p-button icon="pi pi-angle-left"  (click)="onBack()" [rounded]="true" [text]="true" />
    <p-button icon="pi pi-angle-right" [disabled]="form.invalid" (click)="onNext()" [rounded]="true" [text]="true" />
  </div>
</div>

