<div class="container py-3 h-full">
  <div class="content p-3 surface-200 border-round h-full">
    @switch (currectStatus) {
      @case (status.Main) {
        <div class="flex justify-content-between align-items-center mb-3">
          <p class="text-xl font-semibold text-600 my-0">Раунд {{ round }}</p>
          <p class="text-sm font-mediumtext-500 my-0">Остлось {{ selectedBefore.length }} имен из {{ nameSelected.length }}</p>
        </div>

        <div class="flex justify-content-center">
          <p-button
            [label]="beforeList.length === nameSelected.length ? 'Начать выбор имени' : 'Следующий раунд'"
            (click)="onChoose()"
            size="small" />
        </div>

        <div class="flex mb-3 gap-2 justify-content-end mt-3">
          <p-button
            (click)="activeIndex = 0"
            [rounded]="true"
            icon="pi pi-check"
            styleClass="w-2rem h-2rem  p-0"
            [outlined]="activeIndex !== 0" />
          <p-button
            (click)="activeIndex = 1"
            [rounded]="true"
            icon="pi pi-times"
            styleClass="w-2rem h-2rem p-0"
            [outlined]="activeIndex !== 1" />
        </div>
        <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
          <p-accordionTab header="Выбранные имена">
            <p-table
              #dt1
              [value]="beforeList"
              [(selection)]="selectedBefore"
              dataKey="name"
              styleClass="p-datatable-sm"
              [scrollable]="true"
              scrollHeight="20rem"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem"><p-tableHeaderCheckbox [disabled]="round > 1" /></th>
                  <th>Имя</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <p-tableCheckbox [disabled]="round > 1" [value]="product" />
                  </td>
                  <td>{{product.name}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
          <p-accordionTab header="Неподходящие имена">
            <p-table
              [value]="getInvalidName"
              styleClass="p-datatable-sm"
              [scrollable]="true"
              scrollHeight="20rem"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Имя</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.name}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
        </p-accordion>
      }
      @case (status.Selection) {
        <p class="text-center font-semibold text-600">{{ count }} / {{ allCountStep }}</p>

        <div class="flex flex-wrap gap-4">
          @for (item of options; track item) {
            <div
              class="card flex-column col-12 lg:col-6 cursor-pointer border-200 surface-overlay border-1 border-round-2xl font-bold p-3 hover:shadow-8 scalein animation-duration-500 animation-iteration-1"
              (click)="onSelectName(item)"
            >
              <p class="text-center text-xl font-bold text-700 my-0">{{ item.name }}</p>
              <div class="flex flex-wrap justify-content-center gap-1 font-medium text-xl text-700">
                <p class="my-3 text-center">{{ data.firstName }} {{ item.name }} {{ data.thirdName }}</p>
              </div>

              <div class="flex justify-content-center">
                <div class="flex flex-wrap gap-1 font-medium text-600">
                  <span class="text-center">{{ data.firstName }} {{ data.sonsName }} <span class="font-semibold">{{ item.sName }}</span></span>
                </div>
              </div>
              <div class="flex justify-content-center">
                <div class="flex flex-wrap gap-1 font-medium text-600">
                  <span class="text-center">{{ data.firstName }}a {{ data.daughtersName }} <span class="font-semibold"> {{ item.dName }} </span></span>
                </div>
              </div>
            </div>
          }
        </div>
      }
      @case (status.Result) {
        <div class="flex flex-column gap-3">
          <p class="text-center text-3xl font-semibold text-800 my-1">
            Поздравляем вас с выбором имени для вашего малыша!
          </p>

          <p class="text-primary text-center text-5xl font-semibold text-800 my-1">{{ afterList[0].name }}</p>
          <div class="congratulations">
            <p class="heading">Дорогие родители,</p>
            <p>
              С величайшим волнением и радостью мы хотим поздравить вас с этим замечательным моментом - выбором имени
              для вашего малыша! Это такое важное решение, и ваше решение - просто великолепно.
            </p>
            <p>
              Пусть имя <span class="child-name">{{ afterList[0].name }}</span> станет источником бесконечной радости,
              смеха и любви в вашей семье. Пусть каждая буква этого имени будет напоминать вам о прекрасных моментах,
              которые вы проведете вместе, и о надежде на светлое будущее.
            </p>
            <p>
              Мы желаем вашему малышу крепкого здоровья, благополучия и бесконечного счастья. Пусть каждый день его
              жизни будет наполнен чудесами и вдохновением.
            </p>
            <p class="signature">С наилучшими пожеланиями</p>
          </div>
        </div>
      }
    }
  </div>
</div>

